
<style>

    body {
        background-image: url("/Images/Sinup_SignIn.png");
    }
</style>
@model RegisterViewModel
@{
    ViewBag.Title = "User Registration";
}
@{ 
    Layout = "~/Views/Shared/_Register_Layout.cshtml";
}

<div class="layout">

    <h1 class="regis">Register</h1>
    <div class="row" style="padding-top:10%;">
       
        <div class="col-md-12">
            <form method="post" >

                <div class="form-group" style="width:50%; display: block; margin-left: 25%; ">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:50%; display: block; margin-left: 25%; ">
                    <input asp-for="Password" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:50%; display: block; margin-left: 25%; ">
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger"style="width:50%; display: block; margin-left: 25%"></div>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <button style="display: block;" type="submit" class="btn btn-danger">Register</button>

                </div>
            </form>
        </div>
    </div>

    <footer class="footReg">Already Registered? Click here to <a asp-area="" asp-controller="Accounts" asp-action="Login">Login</a></footer>
</div>
