@model mentionIT.Models.MealViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ImageAdd" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuisine" class="control-label"></label>
                <input asp-for="Cuisine" class="form-control" />
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">YouTube Link Id (Example: U6BqkCa-800)</label>
                <input asp-for="YLink" class="form-control" />
                <span asp-validation-for="YLink" class="text-danger"></span>
            </div>
            <input type="file" asp-for="MealImage" accept="image/x-png,image/gif,image/jpeg" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-control">
            <label asp-for="MealImage" class="control-label"></label>

            <span asp-validation-for="MealImage" class="text-danger"></span>
        </div>*@

            <div class="form-group" style="padding-top:5px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
