@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=1.10" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>@ViewData["Title"] - mentionIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header style="width: 100%; display: flex; flex-direction: row; justify-content: left;">

        <div class="w3-sidebar w3-bar-block w3-animate-left" style="display: none; background-color:orangered;" id="mySidebar">

            <button class="w3-bar-item w3-button"
                    onclick="w3_close()">
                Close &times;
            </button>

            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="w3-bar-item w3-button">
                        <form method="post" asp-action="logout" asp-controller="Accounts">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">Logout?</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="w3-bar-item w3-button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Register">Register</a>
                    </li>
                    <li class="w3-bar-item w3-button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="login">Login</a>
                    </li>
                }

            </ul>

            <div class="search-container">
                <form method="get" asp-action="Index" class="form-inline" style="float:right;" id="frm">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" value="@ViewData["Getmeals"]" name="mealSearch" id="search-input">
                    <button class="btn btn-success" type="submit" value="Search" id="search-btn">Search</button>
                </form>
            </div>

        </div>
        <div>
            <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
        </div>
        <img src="~/Images/MentionIT_Logo.png" width="150" height="50" style="margin-top:10px" />

    </header>
    
    <div class="topnav" id="myHeader">
        <a class="active" asp-action="index">Home</a>
        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-controller="Accounts" asp-action="login">Add Meal</a>
        }
        else
        {
            <a asp-action="ImageAdd">Add Meal</a>
        }
        <a href="#contact">Contact</a>
        <a href="#about">About</a>

    </div>

    <div class="container" style="margin:auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>