@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=1.10" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>@ViewData["Title"] - mentionIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header style="width: 100%; display: flex; flex-direction: row; justify-content: left;">
        <div class="w3-sidebar w3-bar-block w3-animate-left" style="display: none; background-color:orangered" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large"
                    onclick="w3_close()">
                Close &times;
            </button>
            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="w3-bar-item w3-button">
                        <form method="post" asp-action="logout" asp-controller="Accounts">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">Logout?</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="w3-bar-item w3-button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Register">Register</a>
                    </li>
                    <li class="w3-bar-item w3-button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="login">Login</a>
                    </li>
                }

            </ul>
        </div>

        <div>
            <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
        </div>
        <li class="w3-bar-item w3-button" id="my-nav-item">
            <a class="nav-link text-dark">Sample</a>
        </li>
        <li class="w3-bar-item w3-button" id="my-nav-item">
            <a class="nav-link text-dark">Sample</a>
        </li>
        <li class="w3-bar-item w3-button" id="my-nav-item">
            <a class="nav-link text-dark">Sample</a>
        </li>
    </header>
    <div class="topnav" id="myHeader">
        <a class="active" href="#home">Home</a>
        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-controller="Accounts" asp-action="login">Add Meal</a>
        }
        else
        {
            <a asp-action="ImageAdd">Add Meal</a>
        }
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <div class="search-container">
            <div class="search-container">
                <form method="get" asp-action="Index" style="float: right; padding-right: 40px;">
                    <input type="text" placeholder="Search..." value="@ViewData["Getmeals"]" name="mealSearch"
                           style="width: 500px; height: 55px;" />
                    <button value="Search" class="btn btn-success">Search</button>/>
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin:auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<footer class="border-top footer text-muted">

        <div style="margin-left:35%; margin-right:25%;" >
            <div class="first-footer-element">
                <h2>
                    Social Medias
                </h2>

                <div id="footer-bottom">
                    <div class="container clearfix">
                        <ul class="et-social-icons" style="list-style-type: none;">

                            <li class="et-social-icon et-social-facebook">
                                <a href="#" class="icon">
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-twitter">
                                <a href="#" class="icon">
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-instagram">
                                <a href="#" class="icon">
                                    <span>Instagram</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="second-footer-element">
                <h2>
                    Contact us!
                </h2>

                <div id="footer-bottom">
                    <div class="container clearfix">
                        <ul class="et-social-icons" style="list-style-type: none;">

                            <li class="et-social-icon et-social-facebook">
                                <a href="#" class="icon">
                                    <span>content</span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-twitter">
                                <a href="#" class="icon">
                                    <span>content</span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-instagram">
                                <a href="#" class="icon">
                                    <span>content</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>