/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #dc3545;
}
.regis {
    width: 170px;
    height: 150px;
    padding: 50px 12px;
    border-radius: 70%;
    background-color: #dc3545;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.layout {
    background-color: white;
    border-radius: 20px;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10% auto ;
    box-shadow: 3px 7px 18px black;
}
.home_layout {
    background-color: white;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10% auto;
    box-shadow: 3px 7px 18px black;
}

.footReg {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    text-decoration-color: #f65d22ad;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom:600px;
    
}

#row1:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
  position:absolute;
  bottom: 0;
  width:100%;
  line-height: 60px; /* Vertically center the text there */
  text-align:center;
  background-color:#222;
}
.item_hover:hover {
    background-color: #f3c0ad;
}
.subitem_hover:hover {
    background-color: #f0aa90;
}
.topnav {
    background-color: #2a3b2a;
    overflow: hidden;
    z-index:1;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: orangered;
            color: white;
        }
#my-nav-item:hover {
    background-color: #557755;
}

.block {
    width: 100px;
}
/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        mask-image: inherit;
        opacity: 0.7;
    }
#search-input {
    margin: 0 !important;
    width: 60%;
}
#frm {
    margin-left:3%
}
@media screen and (max-width: 600px) {
    .search-container {
        float: left;
        margin-left: 3%
    }
    #frm {
        width: 100% !important;
    }
    
    #search-input{
        float:left;
        width:60%;
    }
    
    section {
        width: 100% !important;
    }
    aside{
        display:none;
        width:0%;
    }
}

section {
    width: 80%;
    float: left;
    margin-top: 30px;
}
.container{
    max-width:1500px;
}
.first-footer-element {
    float: left;
    margin: 50px 0px 50px 50px;
    border-right: 5px solid #6c757d;
    border-left: 5px solid #6c757d;
    padding-right: 50px;
    padding-left: 25px;
}
.second-footer-element {
    float: left;
    margin: 50px 50px;
    border-right: 5px solid #6c757d;
    padding-right: 50px;
}
.terms-card {
    position: absolute;
    top: 28px;
    right: 15px;
    width: auto;
    z-index: 99;
    border-radius: 25px !important;
    background-color: #c9e1c9e8 !important;
    padding: 50px 50px 36px;
    font-family: Source Sans Pro;
    color: #282A35;
    background: #FFFFFF;
    box-shadow: 0px 15px 34px rgb(40 42 53 / 29%);
    border-radius: 16px;
    width:90%;
}
.feature-list {
    max-height: 200px;
    overflow: auto;
    background-color: #f7fff7 !important;
}
.ws-green {
    background-color: orangered !important;
    color: white !important;
}
.checked-list {
    padding-left: 10px;
    list-style-type:none;
}
    .checked-list li {
        color: black;
        list-style-type: none;
        font-weight: 400;
        padding: 3px 0 3px 36px;
        background: url( https://www.w3schools.com/videos/check.svg) no-repeat left center;
    }
.con {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left image */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
    .bottom-left:hover {
        filter: brightness(0.6);
    }


.sidebar {
    position: fixed;
    top: 70px;
    bottom: 20px;
    right: 0px;
    display: block;
    padding: 20px;
    z-index:1;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #d9eee1;
    border-right: 1px solid #eee;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
    
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.gray-bg {
    background-color: #f5f5f5;
}
/* Blog 
---------------------*/
.blog-grid {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .blog-grid .blog-img {
        position: relative;
    }

        .blog-grid .blog-img .date {
            position: absolute;
            background: #fc5356;
            color: #ffffff;
            padding: 8px 15px;
            left: 10px;
            top: 10px;
            border-radius: 4px;
        }

            .blog-grid .blog-img .date span {
                font-size: 22px;
                display: block;
                line-height: 22px;
                font-weight: 700;
            }

            .blog-grid .blog-img .date label {
                font-size: 14px;
                margin: 0;
            }

    .blog-grid .blog-info {
        padding: 20px;
    }

        .blog-grid .blog-info h5 {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 10px;
        }

            .blog-grid .blog-info h5 a {
                color: #20247b;
            }

        .blog-grid .blog-info p {
            margin: 0;
        }

        .blog-grid .blog-info .btn-bar {
            margin-top: 20px;
        }


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.widget-title h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fc5356;
    margin: 0;
    margin-bottom:10px;
}
.blog-aside .widget-body {
    padding: 15px;
}

.blog-aside .widget-title {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

    .blog-aside .widget-title h3 {
        font-size: 20px;
        font-weight: 700;
        color: #fc5356;
        margin: 0;
    }

.blog-aside .widget-author .media {
    margin-bottom: 15px;
}

.blog-aside .widget-author p {
    font-size: 16px;
    margin: 0;
}

.blog-aside .widget-author .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-aside .widget-author h6 {
    font-weight: 600;
    color: #20247b;
    font-size: 22px;
    margin: 0;
    padding-left: 20px;
}

.blog-aside .post-aside {
    margin-bottom: 15px;
}

    .blog-aside .post-aside .post-aside-title h5 {
        margin: 0;
    }

    .blog-aside .post-aside .post-aside-title a {
        font-size: 18px;
        color: #20247b;
        font-weight: 600;
    }

    .blog-aside .post-aside .post-aside-meta {
        padding-bottom: 10px;
    }

        .blog-aside .post-aside .post-aside-meta a {
            color: #6F8BA4;
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 10px;
        }

.blog-aside .latest-post-aside + .latest-post-aside {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}

.blog-aside .latest-post-aside .lpa-right {
    width: 90px;
}

    .blog-aside .latest-post-aside .lpa-right img {
        border-radius: 3px;
    }

.blog-aside .latest-post-aside .lpa-left {
    padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
    margin: 0;
    font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
    color: #20247b;
    font-weight: 600;
}

.blog-aside .latest-post-aside .lpa-meta a {
    color: #6F8BA4;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #ffffff;
    background: #20247b;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

    .tag-cloud a:hover {
        background: #fc5356;
    }

.blog-single {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
}

    .article .article-title {
        padding: 15px 0 20px;
    }

        .article .article-title h6 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 20px;
        }

            .article .article-title h6 a {
                text-transform: uppercase;
                color: #fc5356;
                border-bottom: 1px solid #fc5356;
            }

        .article .article-title h2 {
            color: #20247b;
            font-weight: 600;
        }

        .article .article-title .media {
            padding-top: 15px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 20px;
        }

            .article .article-title .media .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
            }

            .article .article-title .media .media-body {
                padding-left: 8px;
            }

                .article .article-title .media .media-body label {
                    font-weight: 600;
                    color: #fc5356;
                    margin: 0;
                }

                .article .article-title .media .media-body span {
                    display: block;
                    font-size: 12px;
                }

    .article .article-content h1,
    .article .article-content h2,
    .article .article-content h3,
    .article .article-content h4,
    .article .article-content h5,
    .article .article-content h6 {
        color: #20247b;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .article .article-content blockquote {
        max-width: 600px;
        padding: 15px 0 30px 0;
        margin: 0;
    }

        .article .article-content blockquote p {
            font-size: 20px;
            font-weight: 500;
            color: #fc5356;
            margin: 0;
        }

        .article .article-content blockquote .blockquote-footer {
            color: #20247b;
            font-size: 16px;
        }

            .article .article-content blockquote .blockquote-footer cite {
                font-weight: 600;
            }

    .article .tag-cloud {
        padding-top: 10px;
    }

.article-comment {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}

    .article-comment h4 {
        color: #20247b;
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 22px;
    }

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/
.contact-name {
    margin-bottom: 30px;
}

    .contact-name h5 {
        font-size: 22px;
        color: #20247b;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .contact-name p {
        font-size: 18px;
        margin: 0;
    }

.social-share a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
}

.social-share .dribbble {
    box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
    background-color: #ea4c89;
}

.social-share .behance {
    box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
    background-color: #0067ff;
}

.social-share .linkedin {
    box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
    background-color: #0177ac;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid #20247b;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none !important;
}

    .contact-form .form-control:focus {
        border-bottom: 1px solid #fc5356;
    }

    .contact-form .form-control.invalid {
        border-bottom: 1px solid #ff0000;
    }

.contact-form .send {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .contact-form .send {
        margin-bottom: 20px;
    }
}

.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

.section-title {
    padding-bottom: 45px;
}

.contact-form .send {
    margin-top: 20px;
}

.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}

    .px-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 30px;
        background: transparent;
        border: 1px solid rgba(252, 83, 86, 0.6);
        border-right: 1px solid transparent;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        width: 60px;
        height: 60px;
    }

    .px-btn .arrow {
        width: 13px;
        height: 2px;
        background: currentColor;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 25px;
    }

        .px-btn .arrow:after {
            width: 8px;
            height: 8px;
            border-right: 2px solid currentColor;
            border-top: 2px solid currentColor;
            content: "";
            position: absolute;
            top: -3px;
            right: 0;
            display: inline-block;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
